

$sizeBlock: 25px;

.line{

  display: flex;
  width: $sizeBlock*1.5*12;
  user-select: none;

  .block{

    height: $sizeBlock;
    width: $sizeBlock*1.5;

    display:grid;
    place-items: center;

    border: 2px solid aqua;

    &.current{
      border-color: orange;
    }

  }

}

@media (max-width: 1050px){
  .line{ display: none }
}
