@import "./../varStyle";

$hBlock: 250px;
$wCover: 150px;

.blockList{
  font-size: 2rem;
  cursor: pointer;

  @include transFontBGS(0.3s);

  &.hover{
    font-size: 3rem;
    background-color: rgba(0,0,0,0.2);
  }
}



.block{
  width: 100%;
  height: $hBlock;
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-around;

  border: 2px solid red;
  background-color: white;

  .cover{
    flex-shrink: 0;

    border: 2px solid black;
    height: 85%;
    width: $wCover;

    @extend %imgIN

  }

  .text{
    border: 2px solid black;
    height: 85%;
    width: 70%;

    overflow: hidden;
  }

  .link{
    border: 2px solid black;
    height: 85%;
  }

  .edit{
    position: absolute;
    right: 30px;
    z-index: 2;

    height: 90%;

    @extend %column;
    justify-content: space-around;
    align-items: center;

    background-color: cornflowerblue;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;

    @include transWidth(0.4s);


    &.vis{
      width: 30%;
    }
    &.invis{
      border: 0;
      width: 0;
      button{
        display: none;
      }
    }


    .btns button, .summ button{
      height: 70px;
    }
    .summ{

    }

  }

}


.modal1{
  width: 200px;
  height: 200px;

  @extend %column;
  justify-content: space-between;

  .input{
    height: 30px;
    width: 100%;
  }
  .btns{
    display: flex;
    justify-content: space-around;
    .btn{
      height: 60px;
    }
  }
}

.modal2{
  width: 300px;
  height: 200px;

  @extend %column;
  justify-content: space-between;

  .input{
    height: 30px;
    width: 100%;
  }
  .btns{
    display: flex;
    justify-content: space-around;
    .btn{
      height: 60px;
    }
  }
}