@import "src/style/varStyle";

.modal{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: none;
  background-color: rgba(0,0,0,0.5);

  .modalContent{
    padding: 10px 25px;
    background-color: white;
    border-radius: 16px;
    min-width: 100px;
    min-height: 50px;
  }

  &.active{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}



.modal1{
  width: 200px;
  height: 200px;

  @extend %column;
  justify-content: space-between;

  .input{
    height: 30px;
    width: 100%;
  }
  .btns{
    display: flex;
    justify-content: space-around;
    .btn{
      height: 60px;
    }
  }
}

.modal2{
  width: 300px;
  height: 200px;

  @extend %column;
  justify-content: space-between;

  .input{
    height: 30px;
    width: 100%;
  }
  .btns{
    display: flex;
    justify-content: space-around;
    .btn{
      height: 60px;
    }
  }
}

.modalConfirm{
  width: 300px;
  height: 200px;

  @extend %column;
  justify-content: space-between;

  .btns>*:first-child{
    margin-right: $gapX;
  }
}

.auth1{
  width: 300px;
  height: 200px;
  background-color: blue;
}

.auth2{
  width: 300px;
  height: 200px;
  background-color: lightblue;
}