@import "./varStyle";

html{
    font-size: 16px;
}

*{

    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

.App {

    $row1: $hHead;
    $row2: $hHead*1.5;
    $row3: calc(100% - #{($gapY + $hHead)*2 + $hHead*0.5});

    $col1: $wFilter;
    $col2: calc(100% - #{ $gapX + $wFilter});

    %allWidth{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    %allHeightWithoutHead{
        grid-row-start: 2;
        grid-row-end: 4;
    }

    height: 100vh;
    width: 100vw;

    display:grid;
    grid-template-rows: $row1 $row2 $row3;
    grid-template-columns: $col1 $col2;

    column-gap: $gapX;
    row-gap: $gapY;

    .head, .home, .info,  .toolBar, .wideContent, .summary{
        @extend %allWidth;
    }
    .filter, .home, .info, .summary{
        @extend %allHeightWithoutHead
    }

    &>*{
        border: $borderBlock;
    }

}
