$gapX: 10px;
$gapY: 10px;

$borderBlock: 4px solid black;

$hHead: 70px;

$UIbr: 5px;

%centerPos{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%imgIN{
  img{
    height: 100%;
    width: 100%;
  }
}

%column{
  display: flex;
  flex-direction: column;
}

//animations

  //color
  @mixin transBGC($time){
    transition: background-color $time ease-in-out;
  }

  //size
  @mixin transSize($time){
    transition: height $time ease-in-out, width $time ease-in-out;
  }

  @mixin transWidth($time){
    transition: width $time ease-in-out;
  }

  @mixin transHeight($time){
    transition: height $time ease-in-out;
  }